@{ Layout = "_Layout"; }

<h2 class="h2Customizado">Sobre nós</h2>
<br />
<br />
<div class="text-center">
    <img src="~/lib/gabriel.jpg" alt="Gabriel 081190038 EC5" class="imagemBonita"/>
    <br />
    <h5 class="h5Customizado">Gabriel Alves Gouveia</h5>
    <h5 class="h5Customizado">081190038 - EC 5</h5>
</div>
<br />
<br />
<div class="text-center">
    <img src="~/lib/giovanni.jpg" alt="Giovanni 081190005 EC5"  class="imagemBonita"/>
    <br />
    <h5 class="h5Customizado">Giovanni Monteiro Médici</h5>
    <h5 class="h5Customizado">081190005 - EC 5</h5>
</div>